language: php

php:
    - 5.4
    - 5.5
    - hhvm

env:
    - SYMFONY_VERSION="2.1.*"
    - SYMFONY_VERSION="2.3.*"
    - SYMFONY_VERSION="2.4.*"
    - SYMFONY_VERSION="dev-master"

matrix:
    allow_failures:
        - php: hhvm
        - env: SYMFONY_VERSION="dev-master"

install:
    - composer selfupdate
    - composer require symfony/framework-bundle:${SYMFONY_VERSION}
    - composer require symfony/security-bundle:${SYMFONY_VERSION}
    - composer install --dev --prefer-source

script:
    - phpunit --configuration phpunit.xml.dist

notifications:
    email: build@litgroup.ru